@keyframes entrada-izq {
    0% {
        stroke-width: 0;
    }

    100% {
        stroke-width: 5px;
    }
}

@keyframes graph{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}

@keyframes graph-base{
    0% {
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

@keyframes walk{
    0%{
        transform: translate(0,430px);
    }
    60%{
        transform: translate(550px,290px);
    }
    100%{
        transform: translate(956px,361px);
    }
}